#in_charge {
    font-weight: bold;
}

.lab_empty {
    filter: grayscale(100%);
}

.lab_not_open {
    filter: hue-rotate(295deg);
}

#kelluke, #logo {
    margin-left: auto;
    margin-right: auto;
}

#kelluke {
    max-width: 20em;
}

#logo {
    width: 20em;
    max-width: 100%;
    display: block;
}

a {
    color: #bedcff;
}

body {
    font-family: Lato, sans-serif;
    font-size: 110%;
    background-color: #20252b;
    color: white;
}

@media screen and (min-width: 40em) {
    #app {
	display: grid;
    }

    #logo {
	width: auto;
	grid-column: 1/2;
	margin-right: 0;
	padding-top: 1em;
    }

    #kelluke {
	grid-column: 2/2;
	margin-left: 1em;
    }
}
